body {
        margin: 0;
        padding: 0;
        background: url(../img/fon3.png) no-repeat;
        background-size: cover;
      }

.CONTAINER {
  max-width: 610px;
  height: 780px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.nibt {
  color: rgba(0, 0, 0, 0.7);
  font-size: 22px;
  font-family: arial black;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.text-center {
  color: rgba(255, 255, 255, 0.88);
  text-align: center;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  font-weight: bold;
  font-family: arial;
  font-size: 21px;
  text-shadow: white 1px 0px 10px;
}

.imya {
  color: #fdac32;
  text-align: center;
  padding-top: 5%;
  font-weight: bold;
  font-family: arial;
  font-size: 40px;
  text-shadow: #fdac32 1px 0px 10px;
}

.img-block {
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  left: 50%; top: 2%;
  transform: translateX(-50%);
  border: 3px solid #ec5555;
  border-radius: 20px;
  width: 38%;
  height: 28%;
}

.joke-img-block {
  width: 25%;
  height: 20%;
}

.color-black-center {
  background-color: rgba(0, 0, 0, 0.7);
  border: 3px solid #ec5555;
  border-radius: 20px;
  height: 99%;
}

.back-img {
  width: 10%;
  height: 8%;
  position: absolute;
  left: 50%; top: 90%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1920px) and (min-height: 731px) and (max-height: 840px){
  .CONTAINER {
    width: 610px;
    height: 580px;
  }

  .imya {
    font-size: 36px;
  }

  .text-center {
    font-size: 17px;
  }

  .nibt {
    font-size: 20px;
  }
}

@media screen and (max-width: 1920px) and (min-height: 1px) and (max-height: 730px){
  .CONTAINER {
    width: 610px;
    height: 480px;
  }

  .imya {
    font-size: 34px;
  }

  .text-center {
    font-size: 15px;
  }

  .nibt {
    font-size: 18px;
  }
}

@media screen and (max-width: 1220px) and (min-height: 841px) and (max-height: 2000px){
  .CONTAINER {
    width: 510px;
    height: 680px;
  }

  .imya {
    font-size: 36px;
  }

  .text-center {
    font-size: 18px;
  }

  .nibt {
    font-size: 18px;
  }
}

@media screen and (max-width: 1220px) and (min-height: 731px) and (max-height: 840px){
  .CONTAINER {
    width: 510px;
    height: 580px;
  }

  .imya {
    font-size: 34px;
  }

  .text-center {
    font-size: 16px;
  }

  .nibt {
    font-size: 18px;
  }
}

@media screen and (max-width: 1220px) and (min-height: 1px) and (max-height: 730px){
  .CONTAINER {
    width: 510px;
    height: 480px;
  }

  .imya {
    font-size: 32px;
  }

  .text-center {
    font-size: 14px;
  }

  .nibt {
    font-size: 18px;
  }
}

@media screen and (max-width: 920px) and (min-height: 841px) and (max-height: 2000px){
  .CONTAINER {
    width: 510px;
    height: 680px;
  }

  .imya {
    font-size: 36px;
  }

  .text-center {
    font-size: 18px;
  }

  .nibt {
    font-size: 18px;
  }
}

@media screen and (max-width: 920px) and (min-height: 731px) and (max-height: 840px){
  .CONTAINER {
    width: 510px;
    height: 580px;
  }

  .imya {
    font-size: 34px;
  }

  .text-center {
    font-size: 16px;
  }

  .nibt {
    font-size: 18px;
  }
}

@media screen and (max-width: 920px) and (min-height: 1px) and (max-height: 730px){
  .CONTAINER {
    width: 510px;
    height: 480px;
  }

  .imya {
    font-size: 32px;
  }

  .text-center {
    font-size: 14px;
  }

  .nibt {
    font-size: 18px;
  }
}